<!-- this was writtin by Colt Steele, and/or Rithm School, and/or Springboard
I am using it for troubleshooting purposes and it should be gone by the time I finish -->
<!--I am a student of Mr. Colt Steele via Springbaord and am using it for troubleshooting also, but only for Flask session work, which is why his code for cookies has been deleted -->
<style>
body {
  font-family: sans-serif;
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em
}

fieldset label {
  font-weight: bold;
}
</style>
{# For demo purposes, show our sessions #}
{% if session %}
<fieldset>
  <label>Flask Session</label>
  {{ session }}
</fieldset>
{% endif %}
<hr>
<p><a href="/">Back to Home</a></p>
<p><a href="/reset">reset</a></p>